<h1>Albums</h1>

<% form action: "/photos", method: "POST", id: "photos-form" do |f| %>
  <div class="form-group">
    <%= f.input :file, attr: { multiple: true } %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Dimensions</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% photos.each do |photo| %>
      <tr>
        <td><%= photo.filename %></td>
        <td><%= photo.dimensions.join("x") %></td>
        <td><img src="<%= photo.image_url(:small) %>" width=100 class="img-thumbnail" /></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
window.Robodog.form("form#photos-form", {
  params: {
    auth: { key: '<%= ENV.fetch("TRANSLOADIT_KEY") %>' },
    template_id: '<%= ENV.fetch("TRANSLOADIT_TEMPLATE") %>',
  },
  waitForEncoding: true,
  modal: true,
  closeAfterFinish: true,
  triggerUploadOnSubmit: false,
})
</script>
